<form [formGroup]="registerForm" (ngSubmit)="submitRegisterInfo()" autocomplete="off">
    <div class="form-group">
        <div class="form-row">
            <div class="col-12">
                <label class="col-form-label-sm" for="username">Username:</label>
                <input type="text" id="username" class="form-control form-control-sm" formControlName="username" />

                <!-- <span *ngIf="showErrors && username.errors?.required" class="error">
            {{ langMap.get(srcLang).get('missingField') }}
        </span>
        <span *ngIf="showErrors && (username.errors?.minlength || username.errors?.maxlength)" class="error">
            {{ langMap.get(srcLang).get('usernameLength') }}
        </span> -->
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-12">
                <label class="col-form-label-sm" for="password">Password:</label>
                <input type="password" id="password" class="form-control form-control-sm" formControlName="password" />

                <!-- <span *ngIf="showErrors && password.errors?.required" class="error">
            {{ langMap.get(srcLang).get('missingField') }}
        </span>
        <span *ngIf="showErrors && (password.errors?.minlength || password.errors?.maxlength)" class="error">
            {{ langMap.get(srcLang).get('passwordLength') }}
        </span> -->
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-12">
                <label class="col-form-label-sm" for="confirmPassword">Confirm password:</label>
                <input type="password" id="confirmPassword" class="form-control form-control-sm"
                    formControlName="confirmPassword" />

                <!-- <span *ngIf="showErrors && confirmPassword.errors?.unconfirmedPassword" class="error">
            {{ langMap.get(srcLang).get('unconfirmedPassword') }}
        </span> -->
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-12">
                <label class="col-form-label-sm" for="email">Email:</label>
                <input type="email" id="email" class="form-control form-control-sm" formControlName="email" />

                <!-- <span *ngIf="showErrors && email.errors?.required" class="error">
            {{ langMap.get(srcLang).get('missingField') }}
        </span>
        <span *ngIf="showErrors && email.errors?.email" class="error">
            {{ langMap.get(srcLang).get('invalidEmail') }}
        </span> -->
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-12">
                <label class="col-form-label-sm" for="targetLang">I want to learn:</label>
                <select id="targetLang" class="form-control form-control-sm" formControlName="targetLang">
                    <!-- <ng-container *ngFor="let lang of targetLanguages; let i = index">
                <ng-container *ngIf="lang !== srcLang">
                    <option [value]="lang">{{ langNames.get(srcLang).get(lang) }}</option>
                </ng-container>
            </ng-container> -->
                    <option value="de">German</option>
                    <option value="fr">French</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Ako korisnik vec postoji -->
    <!-- <div class="form-group">
        <span *ngIf="serverMsg" class="error">{{ serverMsg }}</span>
    </div> -->

    <button type="submit" class="btn btn-info btn-sm btn-block">
        Register
    </button>

    <a href="#" (click)="switchForms()">
        I already have an account.
    </a>
</form>