<form [formGroup]="registerForm" (ngSubmit)="submitRegisterInfo()" autocomplete="off">
    <div class="form-group">
        <div class="form-row">
            <div class="col-12">
                <label class="col-form-label-sm" for="username">Username:</label>
                <input type="text" id="username" class="form-control form-control-sm" formControlName="username" />

                <span *ngIf="showErrors && username.errors?.required" class="error">
                    Missing field.
                </span>
                <span *ngIf="showErrors && (username.errors?.minlength || username.errors?.maxlength)" class="error">
                    Must be between 4 and 25 characters long.
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-12">
                <label class="col-form-label-sm" for="password">Password:</label>
                <input type="password" id="password" class="form-control form-control-sm" formControlName="password" />

                <span *ngIf="showErrors && password.errors?.required" class="error">
                    Missing field.
                </span>
                <span *ngIf="showErrors && (password.errors?.minlength || password.errors?.maxlength)" class="error">
                    Must be between 6 and 25 characters long.
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-12">
                <label class="col-form-label-sm" for="confirmPassword">Confirm password:</label>
                <input type="password" id="confirmPassword" class="form-control form-control-sm"
                    formControlName="confirmPassword" />

                <span *ngIf="showErrors && confirmPassword.errors?.unconfirmedPassword" class="error">
                    Passwords must match.
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-12">
                <label class="col-form-label-sm" for="email">Email:</label>
                <input type="email" id="email" class="form-control form-control-sm" formControlName="email" />

                <span *ngIf="showErrors && email.errors?.required" class="error">
                    Missing field.
                </span>
                <span *ngIf="showErrors && email.errors?.email" class="error">
                    Invalid email format.
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-12">
                <label class="col-form-label-sm" for="targetLang">I want to learn:</label>
                <select id="targetLang" class="form-control form-control-sm" formControlName="targetLang">
                    <option *ngFor="let lang of languages" [value]="lang">{{ langNames.get(lang) }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <span *ngIf="serverMsg" class="error">{{ serverMsg }}</span>
    </div>

    <button type="submit" class="btn btn-info btn-sm btn-block">
        Register
    </button>

    <a href="#" (click)="showLogin.next(!showLogin.getValue())">
        I already have an account.
    </a>
</form>