a {
    color: blue;
    text-decoration: underline;
    font-size: 11px;
    float: left;
    margin-top: 2vh;
}

a:hover {
    cursor: pointer;
}

span.error {
    font-size: 11px;
    color: red;
}