<div class="row justify-content-center align-items-center" id="mainRow">
    <div class="col-12 col-md-8 col-lg-6" id="mainContent">

        <!-- <app-loading-animation ></app-loading-animation> -->
        
        <app-courses *ngIf="showCourses.getValue()" [courses]="courses" 
            [selectedCourse]="selectedCourse" [selectedLesson]="selectedLesson"></app-courses>

        <app-reading-space *ngIf="selectedCourse.getValue() >= 0 && selectedLesson.getValue() >= 0"></app-reading-space>

    </div>
</div>