<form [formGroup]="loginForm" (ngSubmit)="submitLoginInfo()" autocomplete="off">
    <div class="form-group">
        <div class="form-row">
            <div class="col-12">
                <label class="col-form-label-sm" for="username">Username:</label>
                <input class="form-control form-control-sm input-sm" type="text" id="username"
                    formControlName="username" />

                <span *ngIf="showErrors && username.errors?.required" class="error">
                    Missing field.
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-12">
                <label class="col-form-label-sm" for="password">Password:</label>
                <input type="password" id="password" class="form-control form-control-sm" formControlName="password" />

                <span *ngIf="showErrors && password.errors?.required" class="error">
                    Missing field.
                </span>
            </div>
        </div>
    </div>

    <!-- Wrong username or password -->
    <div class="form-group">
        <span *ngIf="serverMsg" class="error">{{ serverMsg }}</span>
    </div>

    <button type="submit" class="btn btn-warning btn-sm btn-block">
        Sign in
    </button>

    <a href="#" (click)="switchForms()">
        I don't have an account.
    </a>
</form>