<form [formGroup]="loginForm" (ngSubmit)="submitLoginInfo()">
    <div class="form-group">
        <div class="form-row">
            <div class="col-12">
                <label class="col-form-label-sm" for="username">Username:</label>
                <input class="form-control form-control-sm input-sm" type="text" id="username"
                    formControlName="username" />

                <!-- <span *ngIf="showErrors && usernameLogin.errors?.required" class="error">
            Missing field.
        </span> -->
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-form-label-sm" for="password">Password:</label>
        <input type="password" id="password" class="form-control form-control-sm" formControlName="password" />

        <!-- <span *ngIf="showErrors && passwordLogin.errors?.required" class="error">
            Missing field.
        </span> -->
    </div>

    <!-- Wrong username or password -->
    <!-- <div class="form-group">
        <span *ngIf="serverMsg" class="error">serverMsg</span>
    </div> -->

    <button type="submit" class="btn btn-warning btn-sm btn-block">
        Sign in
    </button>

    <a href="#" (click)="switchForms()">
        register
    </a>
</form>