<div class="container-fluid">
    <div class="row justify-content-center align-items-center bg-primary" id="container">
        <div class="col-10 col-md-6 col-lg-3">

            <div class="row justify-content-center" style="margin-bottom: 5vh; color: gold;">
                <h1 style="font-size: 70px; user-select: none;"><strong><em>yeziq</em></strong></h1>
            </div>

            <div class="row justify-content-center" style="background-color: white; padding: 3vh;">
                <div class="col-10">
                    <app-login-form *ngIf="showLogin.getValue()" [showLogin]="showLogin"></app-login-form>
                    
                    <app-register-form *ngIf="!showLogin.getValue()" [showLogin]="showLogin"></app-register-form>
                </div>
            </div>
        </div>
    </div>
</div>